<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <title>Baseball App Create Account Page</title>
    <style type="text/css">
        .auto-style1 {
            height: 58px;
        }
        .auto-style2 {
            height: 234px;
        }
        #txtUsrName {
            width: 238px;
        }
        #btnCreate {
            margin-left: 111px;
        }
        #btnLogin {
            margin-left: 0px;
        }
    </style>
</head>
<body ng-app="UserCreate" ng-controller="UserCreation-Controller">
    <table style="width: 100%;">
        <tr>
            <td class="auto-style1" style="background-color: #0000FF; color: #FFFFFF; font-family: sans-serif; font-size: x-large; font-weight: 700; font-style: normal; font-variant: normal; text-transform: capitalize; text-align: left;">Baseball League App</td>
        </tr>
        <tr>
            <td class="auto-style2">
            <form ng-submit="myFunc()">
                <table style="width: 100%;height:100%">
                    <tr>
                        <td style="text-align: center; font-family: Arial; font-size: x-large" colspan="3">
                            Create Account
                        </td>
                    </tr>
                    <tr>
                        <td style="height:100%" colspan="3">
                                <fieldset style="width: 100%;height:100px;">
                                    <legend>Account Information</legend>
                                      User Name: <input type="text" ng-model="username"/><br/>
                                      Password: <input type="text" ng-model="password"/><br/>
                                      Confirm Password: <input type="text" ng-model="passwordConf"/><br/>
                                      Email: <input type="text" ng-model="email"/><br/>
                                </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:45px">
                            <input id="btnBack" type="button" value="Previous" />
                        </td>
                        <td style="width:45px">
                            <input id="btnNext" type="submit" value="Next" />
                        </td>
                        <td style="float:right">
                            <input id="btnCncl" type="button" value="Cancel" />
                        </td>
                    </tr>
                </table>
              </form>
            </td>

        </tr>
        					<tr>
						<td align="center" valign="bottom" colspan="2">{{fullName}}</td>
					</tr>
    </table>
    	<script src="scripts/controllers/myApp-Controller.js"></script>
		<script src="scripts/services/UserService.js"></script>
</body>

</html>
