<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="resources/css/bootstrap.min.css" rel="stylesheet" media="screen">
<head>
    <title>Baseball App Home Page</title>
    <style type="text/css">
        .auto-style1 {
            height: 58px;
        }
        .auto-style2 {
            height: 234px;
        }
        #txtUsrName {
            width: 238px;
        }
        #btnCreate {
            margin-left: 111px;
        }
        #btnLogin {
            margin-left: 0px;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="Division-Controller">	
	<div>
		<ul class="breadcrumb">
		    <li><a href="" ng-click="takeMeTo('/admin/home')">Home</a></li>
		    <li>Create New Division</li>
		</ul>
	</div>
	<div id="divPerson" class="container">
				
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Create New Division</h3>
			 			</div>
			 			<div class="panel-body">
			    		<form ng-submit="registerDivision()">
		    				<div class="row">
			    				<div class="col-xs-12 col-sm-12 col-md-12">
			    					<div class="form-group">
			                			<input type="text" name="divisionName" id="divisionName" class="form-control input-sm" placeholder="Division Name"  ng-model="division.name">
			    					</div>
			    				</div>
			    			</div>	
			    			<div class="row">
			    				<div class="col-xs-9 col-sm-9 col-md-9">
			    					<div class="form-group">
			                			<input type="number" min="0" max="35" name="divisionMinAge" id="divisionMinAge" class="form-control input-sm" placeholder="Division Min Age"  ng-model="division.minage">
			    					</div>
			    				</div>
			    			</div>
			    			<div class="row">
			    				<div class="col-xs-9 col-sm-9 col-md-9">
			    					<div class="form-group">
			                			<input type="number" min="0" max="35"  name="divisionMaxAge" id="divisionMaxAge" class="form-control input-sm" placeholder="Division Max Age"  ng-model="division.maxage">
			    					</div>
			    				</div>
			    			</div>
			    			<div class="row">
			    				<div class="col-xs-9 col-sm-9 col-md-9">
			    					<div class="form-group">
			                			<input type="number" min="10" max="200" name="maxNumberOfPlayers" id="maxNumberOfPlayers" class="form-control input-sm" placeholder="Max Number Of Players"  ng-model="division.maxnoofplayers">
			    					</div>
			    				</div>
			    			</div>
			    			<button type="submit" class="btn btn-info btn-block">Submit</button>  		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    	<div class="alert alert-danger" ng-show="error">{{error}}</div>
    	<div class="alert alert-success" ng-show="success">{{success}}</div>
    </div>    
</body>
</html>