<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="resources/css/bootstrap.min.css" rel="stylesheet" media="screen">
<head>
    <title>Baseball App Home Page</title>
    <style type="text/css">
        .auto-style1 {
            height: 58px;
        }
        .auto-style2 {
            height: 234px;
        }
        #txtUsrName {
            width: 238px;
        }
        #btnCreate {
            margin-left: 111px;
        }
        #btnLogin {
            margin-left: 0px;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="DraftPlayers-Controller">	
	<div>
		<ul class="breadcrumb">
		    <li><a href="" ng-click="takeMeTo('/admin/home')">Home</a></li>
		    <li><a href="" ng-click="takeMeTo('/admin/editteam')">Edit Team</a></li>
		    <li>Draft/Edit Players</li>
		</ul>
	</div>
	<div id="divPerson" class="container">
				
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Draft/Edit Players</h3>
			 			</div>
			 			<div class="panel-body">
			    		<form ng-submit="modifyPlayers()">
			    			<div class="row">
			    				<div class="col-xs-12 col-sm-12 col-md-12">
			    					<div class="form-group">
			                			<input type="text" name="teamName" id="{{teamId}}" disabled="disabled" class="form-control input-sm" placeholder="Team Name"  ng-model="teamName">
			    					</div>
			    				</div>
			    			</div>
		    				<div class="row">		    					
								<div>
								    <fieldset>
								    	<legend style="padding-left:15px;">Assigned Players</legend>
								    	<div style="display: block; overflow: auto; height:150px;">
									    	<table>
									    		<tr ng-repeat="assignedPlayer in assignedPlayers">
									            	<td><input type="checkbox" ng-model="assignedPlayer.selected" value={{assignedPlayer.name}} id={{assignedPlayer.id}} />{{assignedPlayer.name}}</td>
									            </tr>				    		
									    	</table>
								    	</div>
									</fieldset>
								</div>
								<div class="row" style="margin-top: 8px; margin-bottom: 4px;">
									<div class="col-xs-6 col-sm-6 col-md-6" style="display:inline; text-align:right; vertical-align:middle;">
				    					<div >
				    						<button type="button" ng-click="addPlayers()"><img ng-src="images/up.png"/></button>
				    					</div>
				    				</div>
				    				<div class="col-xs-6 col-sm-6 col-md-6"  style="display:inline; text-align:LEFT; vertical-align:middle;">
				    					<div>
				    						<button type="button" ng-click="removePlayers()"><img ng-src="images/down.png"/></button>
				    					</div>
				    				</div>
			    				</div>
								<div style="margin-bottom: 10px;">
									<fieldset>
								    	<legend style="padding-left:15px; padding-top:10px;">Unassigned Players</legend>
								    	<div style="display: block; overflow: auto; height:150px;">
									    	<table>
									    		<tr ng-repeat="unassignedPlayer in unassignedPlayers">
									            	<td id={{unassignedPlayer.id}}><input type="checkbox" ng-model="unassignedPlayer.selected" value={{unassignedPlayer.name}}  />{{unassignedPlayer.name}}</td>
									            </tr>							    		
									    	</table>
								    	</div>
									</fieldset>
								</div>							
			    			</div>
			    			<button type="submit" class="btn btn-info btn-block">Submit</button>  		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    	<div class="alert alert-danger" ng-show="error">{{error}}</div>
    	<div class="alert alert-success" ng-show="success">{{success}}</div>
    </div>    
</body>
</html>