<!DOCTYPE html>
<html>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<body  ng-app="myApp" ng-controller="myApp-Controller">
		<div>
			<form ng-submit="myFunc()">
				Username: 	<input type="text" ng-model="username"><br><br>
				Password: 	<input type="text" ng-model="password"><br><br>
				Email Id: 	<input type="text" ng-model="email"><br><br>	
				<input type="submit"><br>
				<br>				
				<tbody>
					<tr>
						<td align="center" valign="bottom" colspan="2">{{fullName}}</td>
					</tr>
				</tbody>
			</form>
		</div>
		<script src="scripts/import.js"></script>
		<script src="scripts/controllers/myApp-Controller.js"></script>
		<script src="scripts/services/UserService.js"></script>
	</body>
</html>