<script src="resources/js/ui-bootstrap-tpls-2.0.0.min.js"></script>
<div>
        <div class="modal-header">
            <h3 class="modal-title">Enter your Message:</h3>
        </div>
        <div class="modal-body">
        <div class="form-group">
              <div class="col-md-9">
                <textarea ng-model="message" class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Post</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</div>